* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("https://vljaisdvadywiyqrvryd.supabase.co/storage/v1/object/public/categories_images//fondo.png");
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.span{
    color: black;
    font-size: 16px;
}
.container {
    background: #f0ddca;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    height: 80vh;
}

.container::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url("../images/logo.svg") no-repeat center;
background-size: auto 50%;
opacity: 0.2;
z-index: 0;
pointer-events: none; /* Esto permite que los clics pasen a través del pseudo-elemento */
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    color: black;
}

.order {
    border: 1px solid black;
    background: transparent;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu {
    
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background: #f0ddca;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #193526;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

.close-btn {
    display: block;
    background: red;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.button {
    position: relative;
    z-index: 10;
}
#orders {
    height: 50vh;
    overflow-y: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}
/* Estilos para el modal de detalle de pedido */
#order-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#order-modal .modal-content {
    background: #f0ddca;
    color: black;
    padding: 5vw;
    border-radius: 10px;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}
/* Estilos del navbar (Appbar) */
.navbar {
    background-color: #3e2723;
    padding: 15px 20px;
  }
  
  .navbar-brand img {
    width: 100px;
  }
  
  .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar-nav .nav-link {
    color: #365a54 !important;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffe0b2 !important;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.2s ease;
    z-index: 1000;
    width: 200px;
  }
  
  .dropdown-item {
    padding: 12px 15px;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #ffe0b2;
    color: #3e2723;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Íconos */
  .icon {
    width: 25px;
    height: auto;
  }
  
  .icon {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
  
  /* Para evitar que el navbar fijo tape el contenido */
  body {
    padding-top: 70px;
  }
  
  @media (min-width: 992px) {
    .navbar-collapse {
      justify-content: space-around;
    }
    .navbar-nav {
      width: 80%;
      display: flex;
      justify-content: space-around;
    }
  }
  .whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: white;
    color: #FFF;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }